body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(5, 12, 79);
  background: linear-gradient(
    135deg,
    rgba(5, 12, 79, 1) 0%,
    rgba(86, 30, 255, 1) 32%,
    rgba(137, 166, 251, 1) 100%
  );
}
